body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
#colors {
    overflow: hidden;
    width: 90px;
    margin-left: 30px;
    float: left;
}

#colors .color {
    float: left;
    width: 40px;
    height: 40px;
}

#colors .color div {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#canvas {
    float: left;
    cursor: crosshair;
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

#canvas.isometric::after {
    width: 320px;
    height: 10px;
}
#canvas.isometric::before {
    width: 10px;
    height: 320px;
}